/* static/css/race_table.css */

.race-table {
  padding: 1rem;
  background-color: #111;
  color: #fff;
}

.race-table table {
  width: 100%;
  border-collapse: collapse;
}

.race-table th, .race-table td {
  padding: 0.75rem;
  border-bottom: 1px solid #444;
  text-align: center;
}

.race-table th {
  background-color: #222;
  color: #f0c001;
}

