<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>İstanbul Yarış Programı</title>
</head>
<body>
    <h2>İstanbul Hipodromu Koşuları</h2>
    {% for kosu in yarislar %}
        <div>
            <strong>{{ kosu.kosu_no }}. Koşu</strong> - {{ kosu.saat }} - {{ kosu.mesafe }}m {{ kosu.pist }}
            <br> At Sayısı: {{ kosu.at_sayisi }}
            <br> <a href="/kosu/{{ kosu.kosu_no }}.html">Detay</a>
        </div><hr>
    {% endfor %}
</body>
</html>
