# haberler.html dosyasını açıp slider yapısını içine yerleştiriyoruz.
haberler_path = "/mnt/data/restored_ganyaniq_race_module/ganyaniq_race_module/templates/haberler.html"

# Önce mevcut içeriği okuyalım
with open(haberler_path, "r", encoding="utf-8") as f:
    haberler_html = f.read()

# Slider bloğunu yerleştireceğimiz alanı belirliyoruz
slider_block = """
<!-- Manşet Slider Alanı -->
<div id="slider" class="slider-container"></div>

<!-- Slider JS Bağlantısı -->
<script src="/static/js/slider.js"></script>
"""

# Eğer daha önce eklenmemişse, slider bloğunu </body>'den önce ekleyelim
if "id=\"slider\"" not in haberler_html:
    haberler_html = haberler_html.replace("</body>", f"{slider_block}\n</body>")

# Güncellenmiş dosyayı tekrar yazıyoruz
with open(haberler_path, "w", encoding="utf-8") as f:
    f.write(haberler_html)

haberler_path
