<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>GANYAN IQ | Yarış Programı</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'partials/header.html' %}

    <main>
        <h1>Bugünkü Yarış Programı</h1>
        <div class="program-list">
            {% for program in programlar %}
                <div class="program-item">
                    <h2>{{ program.sehir }} - {{ program.hipodrom }}</h2>
                    <p>Tarih: {{ program.tarih }}</p>
                    <ul>
                        {% for kosu in program.kosular %}
                            <li>
                                <strong>{{ kosu.kosu_no }}. Koşu:</strong> {{ kosu.kosu_tipi }} - {{ kosu.saat }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </main>

    {% include 'partials/footer.html' %}
</body>
</html>
