<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Ganyan IQ - Ana Sayfa</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/slider.js" defer></script>
</head>
<body>

  <!-- Banner Slider Başlangıç -->
  <div id="banner-slider" class="slider-container">
    <div class="slider-track" id="slider-track"></div>
  </div>
  <!-- Banner Slider Bitiş -->

  <!-- Haberler Bölümü Başlangıç -->
  <section id="haberler">
    <h2>Manşetler</h2>
    <ul id="haber-listesi"></ul>
  </section>
  <!-- Haberler Bölümü Bitiş -->

</body>
</html>
